.HomeSec{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x:scroll ;
    margin-left: 10px;
    text-align: center;
    gap: 10px;
}

.HomeSec::-webkit-scrollbar{
    display: none;
}
/* .p1{
    height: 100px;
    width: 100%;
    object-fit: cover;
    overflow: scroll;
} */
